project: GAN
name: celebA

# general
max_epoch: 100
batch_size: 32
z_dim: 64  # dimension of noise
n_feat: 64  # number of feature maps of last layer in generator
folder: ./data/img_align_celeba/img_align_celeba/
n_samples_per_epoch: 1600

# discriminator
nD: 1  # number of discriminator update steps per iteration
lr_D: 2e-4
beta1_D: 0.5
beta2_D: 0.999
weight_decay_D: 1e-3


# generator
nG: 1  # number of generator update steps per iteration
lr_G: 2e-4
beta1_G: 0.5
beta2_G: 0.999
weight_decay_G: 1e-3
